html,
body {
  background: #ddd;
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size: 14px;
}

a,
a:active,
a:visited {
  color: #333;
}
a:hover {
  color: #111;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.clearfix {
  height: 1%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


@font-face {
  font-family: 'DanielRegular';
  src: url('fonts/daniel-webfont.eot');
  src: url('fonts/daniel-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/daniel-webfont.woff') format('woff'),
       url('fonts/daniel-webfont.ttf') format('truetype'),
       url('fonts/daniel-webfont.svg#DanielRegular') format('svg');
  font-weight: normal;
}


#nav ul,
#content,
#footer {
  margin: 0 auto;
  max-width: 1000px;
}

/** Header **/

#header {
  background: #49423D;
  height: 80px;
  padding-top: 1px;
}
h1 {
  color: #ccc;
  font: 30px/38px 'DanielRegular', Arial, sans-serif;
  letter-spacing: 2px;
  margin: 20px auto;
  max-width: 1000px;
}
#header h1 span {
  color: #bbb;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0;
}

#github-link {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

/** Navigation Drop-Down Menu */

#nav {
  background: #CFBE27;
  -moz-box-shadow: 0 -1px 25px #444;
  -webkit-box-shadow: 0 -1px 25px #444;
  box-shadow: 0 -1px 25px #444;
  height: 30px;
  width: 100%;
  z-index: 9999;
}
.fixed {
  position: fixed;
  top: 0;
}
#nav ul {
  padding: 0;
  font-size: 16px;
}
#nav ul li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0 20px 0 0;
  position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
#nav a {
  padding: 5px 0;
  color: #444;
  display: block;
  text-decoration: none;
  /*float: left;*/
}
#nav a:hover{
  color: #000;
  text-decoration: underline;
}

#nav ul li span { /*--Drop down trigger styles--*/
  width: 17px;
  height: 39px;
  position: absolute;
  right: 0;
  top: 0;
  /*float: left;*/
  background: url(../images/arrow_down.png) no-repeat center center;
}
#nav ul li span.subhover {
  /*background-position: center bottom; */
  cursor: pointer;
} /*--Hover effect for trigger--*/
#nav ul li ul.subnav {
  list-style: none;
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
  left: 0; top: 39px;
  background: #CFCA9C;
  -moz-box-shadow: 0 -1px 15px #555;
  -webkit-box-shadow: 0 -1px 15px #555;
  box-shadow: 0 -1px 15px #555;
  margin: 0; padding: 0;
  display: none;
  float: left;
  width: 170px;
}
#nav ul li ul.subhovernav li{
  margin: 0; padding: 0;
  border-top: 1px solid #252525; /*--Create bevel effect--*/
  border-bottom: 1px solid #444; /*--Create bevel effectffect--*/
  clear: both;
  width: 170px;
}
#nav ul li ul.subnav a {
  float: left;
  width: 145px;
  /*background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;*/
  padding-left: 20px;
}
#nav ul li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
  /*background: #222 url(dropdown_linkbg.gif) no-repeat 10px center;*/
}


/** Content **/

#content {
  padding: 30px 0 50px;
}
#content.fixed-nav {
  margin-top: 30px;
}

h2 {
  margin: 30px 0 10px;
}
h2 a {
  color: #333;
}
h2 a:hover {
  color: #333;
  text-decoration: none;
}
label {
  float: left;
  margin: 6px 15px 0 0;
}

#api-table {
  width: 100%;
}
#api-table th,
#config-options th {
  padding: 5px 15px;
  text-align: left;
}
#api-table td,
#config-options td {
  background-color: whiteSmoke;
  padding: 5px 15px;
}
#api-table tr,
#config-options tr {
  border-bottom: 1px solid #ddd;
}
#api-table td.key,
#config-options td.key {
  background-color: whiteSmoke;
  font-family: monospace, serif;
  font-style: normal;
}
#api-table td.meta,
#config-options td.meta {
  background-color: #bbb;
  font-family: monospace, serif;
  font-style: normal;
  width: 270px;
}


#demo-sections {
  clear: both;
  padding-top: 10px;
  min-height: 300px;
}
#demo-sections h3 {
  text-align: center;
}

ul.tab-bar {
  margin: 0 0 0;
  padding: 0 15px;
}
ul.tab-bar li {
  float: left;
  padding: 10px 0;
  margin-right: 20px;
}
ul.tab-bar a {
  background-color: #999;
  color: #555;
  padding: 10px 25px;
}
ul.tab-bar a {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul.tab-bar a.active {
  background-color: #ddd;
  color: #000;
  cursor: default;
  text-decoration: none;
}
ul.tab-bar a:hover {
  color: #000;
}
#demo-sections .section,
#content div.tab {
  display: none;
}
#demo-sections div.section.active {
  display: block;
}
#content div.tab.active {
  display: block;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: -1px 0 0;
  padding: 15px 25px;
}
#demo-sections ul.tab-bar a.active,
#demo-sections div.tab.active {
  background-color: #807B73;
}
#demo-sections div.tab.demo {
  padding: 15px 0;
}

pre code {
  -moz-border-radius: 5px;
  border-radius: 5px;
}


/* Footer */

#footer {
  font-size: 0.9em;
  margin-bottom: 50px;
  padding: 8px 0;
  text-align: center;
}
#footer a {
  color: #333;
  text-decoration: underline;
}

/* image loading background image */

#gallery {
  visibility: hidden;
}
#gallery li.loading {
  background: url(../images/spinner.gif) no-repeat center center;
}


/* image caption */

p.bf-caption {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  text-align: left;
}
